.pagina_planes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.planes {
    display: flex;
    width: 50%;
}

.planes_ul {
    color: white;
}

.planes_ul-element {
    padding: 25px;
    color: white;
    font-size: 50px;
}

.calendario {
    padding: 25px;
}

.calendario_iframe {
    height: 850px;
    width: 600px;
}
@media screen and (max-width: 1000px){
    .planes {
        width: 100%;
    }

    .pagina_planes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .planes_ul {
        min-width: 200px;
        height: auto;
        margin: 0px;
    }

    .planes_ul-div {
        min-width: 200px;
        height: auto;
        display: flex;
        justify-self: flex-start;
        flex-wrap: wrap;

    }

    .planes_ul-element {
        display: flex;
        justify-self: auto;
        flex-wrap: wrap;
        font-size: 40px;
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        min-width: 200px;
        height: auto;
    }

    .planes_ul-element-text {
        font-size: 25px;
        margin: 0;
        padding: 0;
        min-width: 200px;
        height: auto;
    }

    .calendario_iframe {
        max-width: 700px;
        min-width: 250px;
        height: auto;
    }
}
@media screen and (max-width: 671px){
    .calendario_iframe {
        width: 250px;
        height: auto;
    }

}